<div class="card">
    <div class="card-body">
            <h3>{{leyenda}}</h3>
            <div class="input-group">
                <span class="input-group-btn">
                    <button 
                    class="btn btn-danger" 
                    type="button"
                    (click)="progresar(-5)">
                        <i class="mdi mdi-minus"></i>
                    </button>
                </span>
                <input #txtprogress type="number" class="form-control" placeholder="Product name" [(ngModel)]="progreso" (ngModelChange)="onChange($event)" min="0" max="100">
                <span class="input-group-btn">
                    <button 
                    class="btn btn-success" 
                    type="button"
                    (click)="progresar(5)">
                        <i class="mdi mdi-plus"></i>
                    </button>
                </span>
            </div>
    </div>
</div>
 


